# Explorando o uso API
### Recuperar estações automáticas (T)
 
Recuperar todas estações de acordo com o tipo passado como parâmetro:<br>
**Estações Automáticas**:** https://apitempo.inmet.gov.br/estacoes/T

estações automaticas = T

In [2]:
import requests

url_base = 'https://apitempo.inmet.gov.br'
url_estacoes_automaticas = 'estacoes/T'
url = f'{url_base}/{url_estacoes_automaticas}'

reponse = requests.get(url)

if reponse.status_code == 200:
    estacoes_automaticas = reponse.json()

In [3]:
estacoes_automaticas[:1]

[{'CD_OSCAR': '0-2000-0-86765',
  'DC_NOME': 'ABROLHOS',
  'FL_CAPITAL': 'N',
  'DT_FIM_OPERACAO': None,
  'CD_SITUACAO': 'Pane',
  'TP_ESTACAO': 'Automatica',
  'VL_LATITUDE': '-17.96305555',
  'CD_WSI': '0-76-0-2906907000000408',
  'CD_DISTRITO': ' 04',
  'VL_ALTITUDE': '20.93',
  'SG_ESTADO': 'BA',
  'SG_ENTIDADE': 'INMET',
  'CD_ESTACAO': 'A422',
  'VL_LONGITUDE': '-38.70333333',
  'DT_INICIO_OPERACAO': '2008-07-20T21:00:00.000-03:00'}]

### Estações Automaticas <br>Salvando dados em um arquivo JSON

In [4]:
import json

json_str = json.dumps(estacoes_automaticas)

with open('../data/estacoes_automaticas.json', 'w') as file:
    file.write(json_str)

### Estações Automaticas <br> Ler arquivo json usando context_mananager

In [5]:
with open('../data/estacoes_automaticas.json', 'r') as file:
    #dados_json = file.read()
    dados_json_estacoes_automatica = json.load(file)

In [6]:

dados_json_estacoes_automatica[0]

{'CD_OSCAR': '0-2000-0-86765',
 'DC_NOME': 'ABROLHOS',
 'FL_CAPITAL': 'N',
 'DT_FIM_OPERACAO': None,
 'CD_SITUACAO': 'Pane',
 'TP_ESTACAO': 'Automatica',
 'VL_LATITUDE': '-17.96305555',
 'CD_WSI': '0-76-0-2906907000000408',
 'CD_DISTRITO': ' 04',
 'VL_ALTITUDE': '20.93',
 'SG_ESTADO': 'BA',
 'SG_ENTIDADE': 'INMET',
 'CD_ESTACAO': 'A422',
 'VL_LONGITUDE': '-38.70333333',
 'DT_INICIO_OPERACAO': '2008-07-20T21:00:00.000-03:00'}

### Recuperar estações convencionais (M)

**Estações Manuais:** https://apitempo.inmet.gov.br/estacoes/M<br>
estações convencionais = M

In [7]:

import requests

url_base = 'https://apitempo.inmet.gov.br'
url_estacoes_automaticas = 'estacoes/M'
url = f'{url_base}/{url_estacoes_automaticas}'

reponse = requests.get(url)

if reponse.status_code == 200:
    estacoes_manuais = reponse.json()

In [8]:
estacoes_manuais[:1]

[{'CD_OSCAR': '0-2000-0-82989',
  'DC_NOME': 'AGUA BRANCA',
  'FL_CAPITAL': 'N',
  'DT_FIM_OPERACAO': None,
  'CD_SITUACAO': 'Operante',
  'TP_ESTACAO': 'Convencional',
  'VL_LATITUDE': '-9.26472222',
  'CD_WSI': '0-76-0-2700102000W82989',
  'CD_DISTRITO': ' 03',
  'VL_ALTITUDE': '603.42',
  'SG_ESTADO': 'AL',
  'SG_ENTIDADE': 'INMET',
  'CD_ESTACAO': '82989',
  'VL_LONGITUDE': '-37.93805555',
  'DT_INICIO_OPERACAO': '1928-05-04T21:00:00.000-03:00'}]

### Estações Convencionais: <br> Salvando dados em um arquivo JSON

In [9]:
import json

json_str = json.dumps(estacoes_manuais)

with open('../data/estacoes_manuais.json', 'w') as file:
    file.write(json_str)

### Estações Convencionais: <br> Ler arquivo json usando context_mananager

In [10]:
with open('../data/estacoes_manuais.json', 'r') as file:

    dados_json_estacoes_manual = json.load(file)

In [11]:
dados_json_estacoes_manual[0]

{'CD_OSCAR': '0-2000-0-82989',
 'DC_NOME': 'AGUA BRANCA',
 'FL_CAPITAL': 'N',
 'DT_FIM_OPERACAO': None,
 'CD_SITUACAO': 'Operante',
 'TP_ESTACAO': 'Convencional',
 'VL_LATITUDE': '-9.26472222',
 'CD_WSI': '0-76-0-2700102000W82989',
 'CD_DISTRITO': ' 03',
 'VL_ALTITUDE': '603.42',
 'SG_ESTADO': 'AL',
 'SG_ENTIDADE': 'INMET',
 'CD_ESTACAO': '82989',
 'VL_LONGITUDE': '-37.93805555',
 'DT_INICIO_OPERACAO': '1928-05-04T21:00:00.000-03:00'}

### Concatenar os arquivos das estações convencionais e automaticas, e em seguida salva num arquivo json

In [12]:
todas_estacoes = []
todas_estacoes.extend(dados_json_estacoes_automatica)
todas_estacoes.extend(dados_json_estacoes_manual)

In [13]:
print('Estacoes automaticas = ', len(dados_json_estacoes_automatica))
print('Estacoes manuais = ',len(dados_json_estacoes_manual))
print('Total de estações = ' ,len(todas_estacoes))

Estacoes automaticas =  567
Estacoes manuais =  147
Total de estações =  714

In [14]:
import json

json_str = json.dumps(todas_estacoes)

with open('../data/todas_estacoes.json', 'w') as file:    
    file.write(json_str)

# DATAFRAME :<br> Gera um dataframe de todas as estações

In [15]:
import pandas as pd

In [51]:
df = pd.read_json('../data/todas_estacoes.json')

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 714 entries, 0 to 713
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CD_OSCAR            712 non-null    object
 1   DC_NOME             714 non-null    object
 2   FL_CAPITAL          603 non-null    object
 3   DT_FIM_OPERACAO     0 non-null      float64
 4   CD_SITUACAO         714 non-null    object
 5   TP_ESTACAO          714 non-null    object
 6   VL_LATITUDE         714 non-null    float64
 7   CD_WSI              712 non-null    object
 8   CD_DISTRITO         714 non-null    int64
 9   VL_ALTITUDE         714 non-null    float64
 10  SG_ESTADO           714 non-null    object
 11  SG_ENTIDADE         714 non-null    object
 12  CD_ESTACAO          714 non-null    object
 13  VL_LONGITUDE        714 non-null    float64
 14  DT_INICIO_OPERACAO  714 non-null    object
dtypes: float64(4), int64(1), object(10)
memory usage: 83.8+ KB

### Descrição das colunas

**CD_OSCAR** : 'Código internacionalmente reconhecido para a estação meteorológica'  
**DC_NOME** : 'Nome da estação meteorológica'  
**FL_CAPITAL** : 'Indicação se a estação é a capital do estado ("S" para sim, "N" para não)'  
**DT_FIM_OPERACAO** : 'Data de encerramento das operações da estação (pode ser nulo se ainda estiver em operação)'  
**CD_SITUACAO** : 'Situação atual da estação meteorológica (por exemplo, "Pane")'  
**TP_ESTACAO** : 'Tipo da estação meteorológica (por exemplo, "Automática")'  
**VL_LATITUDE** : 'Valor da latitude geográfica da estação'  
**CD_WSI** : 'Código único atribuído pela WSI (Weather Services International)'  
**CD_DISTRITO** : 'Código do distrito ao qual a estação pertence'  
**VL_ALTITUDE** : 'Altitude da estação meteorológica'  
**SG_ESTADO** : 'Sigla do estado onde a estação está localizada'  
**SG_ENTIDADE** : 'Sigla da entidade responsável pela estação meteorológica (por exemplo, "INMET")'  
**CD_ESTACAO** : 'Código único atribuído à estação'  
**VL_LONGITUDE** : 'Valor da longitude geográfica da estação'  
**DT_INICIO_OPERACAO** : 'Data de início das operações da estação meteorológica'

In [53]:
df.head()

,CD_OSCAR,DC_NOME,FL_CAPITAL,DT_FIM_OPERACAO,CD_SITUACAO,TP_ESTACAO,VL_LATITUDE,CD_WSI,CD_DISTRITO,VL_ALTITUDE,SG_ESTADO,SG_ENTIDADE,CD_ESTACAO,VL_LONGITUDE,DT_INICIO_OPERACAO
0,0-2000-0-86765,ABROLHOS,N,NaN,Pane,Automatica,-17.963056,0-76-0-2906907000000408,4,20.93,BA,INMET,A422,-38.703333,2008-07-20T21:00:00.000-03:00
1,0-2000-0-81755,ACARAU,N,NaN,Operante,Automatica,-3.121111,0-76-0-2300200000000446,3,67.15,CE,INMET,A360,-40.087222,2009-04-21T21:00:00.000-03:00
2,0-2000-0-86827,AFONSO CLAUDIO,None,NaN,Pane,Automatica,-20.104167,0-76-0-3200102000000478,6,507.48,ES,INMET,A657,-41.106944,2011-09-23T21:00:00.000-03:00
3,0-2000-0-86686,AGUA BOA,N,NaN,Operante,Automatica,-14.016389,0-76-0-5100201000000157,9,440.00,MT,INMET,A908,-52.211667,2006-12-15T21:00:00.000-03:00
4,0-2000-0-86812,AGUA CLARA,N,NaN,Operante,Automatica,-20.444444,0-76-0-5000203000000463,7,323.63,MS,INMET,A756,-52.875833,2010-08-13T21:00:00.000-03:00

In [54]:
df.isna().sum()

CD_OSCAR                2
DC_NOME                 0
FL_CAPITAL            111
DT_FIM_OPERACAO       714
CD_SITUACAO             0
TP_ESTACAO              0
VL_LATITUDE             0
CD_WSI                  2
CD_DISTRITO             0
VL_ALTITUDE             0
SG_ESTADO               0
SG_ENTIDADE             0
CD_ESTACAO              0
VL_LONGITUDE            0
DT_INICIO_OPERACAO      0
dtype: int64

In [55]:
# substituir os valores NaN por 0 (zero)

df['DT_FIM_OPERACAO'] = df['DT_FIM_OPERACAO'].fillna(0)

In [56]:
df.isna().sum()

CD_OSCAR                2
DC_NOME                 0
FL_CAPITAL            111
DT_FIM_OPERACAO         0
CD_SITUACAO             0
TP_ESTACAO              0
VL_LATITUDE             0
CD_WSI                  2
CD_DISTRITO             0
VL_ALTITUDE             0
SG_ESTADO               0
SG_ENTIDADE             0
CD_ESTACAO              0
VL_LONGITUDE            0
DT_INICIO_OPERACAO      0
dtype: int64

In [57]:
df['FL_CAPITAL'].value_counts()

N    585
S     18
Name: FL_CAPITAL, dtype: int64

In [58]:
df['FL_CAPITAL'] = df['FL_CAPITAL'].fillna('N')

In [59]:
df.isna().sum()

CD_OSCAR              2
DC_NOME               0
FL_CAPITAL            0
DT_FIM_OPERACAO       0
CD_SITUACAO           0
TP_ESTACAO            0
VL_LATITUDE           0
CD_WSI                2
CD_DISTRITO           0
VL_ALTITUDE           0
SG_ESTADO             0
SG_ENTIDADE           0
CD_ESTACAO            0
VL_LONGITUDE          0
DT_INICIO_OPERACAO    0
dtype: int64

In [61]:
df.drop('SG_ENTIDADE', axis=1, inplace=True)

In [64]:
df

,CD_OSCAR,DC_NOME,FL_CAPITAL,DT_FIM_OPERACAO,CD_SITUACAO,TP_ESTACAO,VL_LATITUDE,CD_WSI,CD_DISTRITO,VL_ALTITUDE,SG_ESTADO,CD_ESTACAO,VL_LONGITUDE,DT_INICIO_OPERACAO
0,0-2000-0-86765,ABROLHOS,N,0.0,Pane,Automatica,-17.963056,0-76-0-2906907000000408,4,20.93,BA,A422,-38.703333,2008-07-20T21:00:00.000-03:00
1,0-2000-0-81755,ACARAU,N,0.0,Operante,Automatica,-3.121111,0-76-0-2300200000000446,3,67.15,CE,A360,-40.087222,2009-04-21T21:00:00.000-03:00
2,0-2000-0-86827,AFONSO CLAUDIO,N,0.0,Pane,Automatica,-20.104167,0-76-0-3200102000000478,6,507.48,ES,A657,-41.106944,2011-09-23T21:00:00.000-03:00
3,0-2000-0-86686,AGUA BOA,N,0.0,Operante,Automatica,-14.016389,0-76-0-5100201000000157,9,440.00,MT,A908,-52.211667,2006-12-15T21:00:00.000-03:00
4,0-2000-0-86812,AGUA CLARA,N,0.0,Operante,Automatica,-20.444444,0-76-0-5000203000000463,7,323.63,MS,A756,-52.875833,2010-08-13T21:00:00.000-03:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
709,0-2000-0-82198,TURIACU,N,0.0,Operante,Convencional,-1.661389,0-76-0-2112407000W82198,2,34.48,MA,82198,-45.371944,1976-07-28T21:00:00.000-03:00
710,0-2000-0-83428,UNAI,N,0.0,Operante,Convencional,-16.366389,0-76-0-3170404000W83428,5,595.59,MG,83428,-46.889444,1976-04-06T21:00:00.000-03:00
711,0-2000-0-83648,VITORIA,S,0.0,Operante,Convencional,-20.315833,0-76-0-3205309000W83648,6,36.20,ES,83648,-40.316944,1923-11-19T21:00:00.000-03:00
712,0-2000-0-83344,VITORIA DA CONQUISTA,N,0.0,Operante,Convencional,-14.886389,0-76-0-2933307000W83344,4,879.47,BA,83344,-40.801389,1935-12-31T21:00:00.000-03:00
713,0-2000-0-82376,ZE DOCA,N,0.0,Operante,Convencional,-3.269167,0-76-0-2114007000W82376,2,46.71,MA,82376,-45.651111,1970-08-24T21:00:00.000-03:00

In [65]:
df['nova_data'] = df['DT_INICIO_OPERACAO'].str.split('T').str[0]

In [67]:
df['DT_INICIO_OPERACAO'] = df['nova_data']

In [69]:
df.drop('nova_data', axis=1, inplace=True)

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 714 entries, 0 to 713
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CD_OSCAR            712 non-null    object
 1   DC_NOME             714 non-null    object
 2   FL_CAPITAL          714 non-null    object
 3   DT_FIM_OPERACAO     714 non-null    float64
 4   CD_SITUACAO         714 non-null    object
 5   TP_ESTACAO          714 non-null    object
 6   VL_LATITUDE         714 non-null    float64
 7   CD_WSI              712 non-null    object
 8   CD_DISTRITO         714 non-null    int64
 9   VL_ALTITUDE         714 non-null    float64
 10  SG_ESTADO           714 non-null    object
 11  CD_ESTACAO          714 non-null    object
 12  VL_LONGITUDE        714 non-null    float64
 13  DT_INICIO_OPERACAO  714 non-null    object
dtypes: float64(4), int64(1), object(9)
memory usage: 78.2+ KB

In [73]:
df['DT_INICIO_OPERACAO'] = pd.to_datetime(df['DT_INICIO_OPERACAO'], format=("%Y-%m-%d"))
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 714 entries, 0 to 713
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CD_OSCAR            712 non-null    object
 1   DC_NOME             714 non-null    object
 2   FL_CAPITAL          714 non-null    object
 3   DT_FIM_OPERACAO     714 non-null    float64
 4   CD_SITUACAO         714 non-null    object
 5   TP_ESTACAO          714 non-null    object
 6   VL_LATITUDE         714 non-null    float64
 7   CD_WSI              712 non-null    object
 8   CD_DISTRITO         714 non-null    int64
 9   VL_ALTITUDE         714 non-null    float64
 10  SG_ESTADO           714 non-null    object
 11  CD_ESTACAO          714 non-null    object
 12  VL_LONGITUDE        714 non-null    float64
 13  DT_INICIO_OPERACAO  714 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4), int64(1), object(8)
memory usage: 78.2+ KB

In [76]:
df.head()

,CD_OSCAR,DC_NOME,FL_CAPITAL,DT_FIM_OPERACAO,CD_SITUACAO,TP_ESTACAO,VL_LATITUDE,CD_WSI,CD_DISTRITO,VL_ALTITUDE,SG_ESTADO,CD_ESTACAO,VL_LONGITUDE,DT_INICIO_OPERACAO
0,0-2000-0-86765,ABROLHOS,N,0.0,Pane,Automatica,-17.963056,0-76-0-2906907000000408,4,20.93,BA,A422,-38.703333,2008-07-20
1,0-2000-0-81755,ACARAU,N,0.0,Operante,Automatica,-3.121111,0-76-0-2300200000000446,3,67.15,CE,A360,-40.087222,2009-04-21
2,0-2000-0-86827,AFONSO CLAUDIO,N,0.0,Pane,Automatica,-20.104167,0-76-0-3200102000000478,6,507.48,ES,A657,-41.106944,2011-09-23
3,0-2000-0-86686,AGUA BOA,N,0.0,Operante,Automatica,-14.016389,0-76-0-5100201000000157,9,440.00,MT,A908,-52.211667,2006-12-15
4,0-2000-0-86812,AGUA CLARA,N,0.0,Operante,Automatica,-20.444444,0-76-0-5000203000000463,7,323.63,MS,A756,-52.875833,2010-08-13

# Exportando em um arquivo csv

In [77]:
df.to_csv('../data/dados_estacoes.csv', index=False)